@import "tailwindcss";

body{
    margin: 0;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    border: 2px solid rgb(255, 160, 176);
    position: absolute;
    padding: 15px 10px;
    margin-top: 2vw;
    font-weight: bold;
    animation-duration: 1000ms;
    animation-name: title-fall;
    background-color: hsla(351, 100%, 92%, 0.9);
}
@keyframes title-fall{
    from{ margin-top: -30vw; }
    to{ margin-top: 2vw; }
}

/* GLOBAL CLASSES */

.basic-text-size{ font-size: 1.15vw; }
.click-disabled{ pointer-events: none; }
.hide-element{ display: none; }
.show-element-flex{ display: flex; }
.show-element-block{ display: block; }

.common-btn,
.form-btn{
    background-color: white;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    border: 2px solid rgb(255, 160, 176);
    transition: 200ms;

    &:hover{ background-color: hsla(351, 100%, 92%); }
}

.text-input{
    background-color: white;
    cursor: pointer;
    padding: 3px 30px 3px 10px;
    border: 2px solid rgb(255, 160, 176);
    border-radius: 5px;
    transition: 200ms;

    &:hover{ background-color: rgb(253, 239, 239); }
    &:focus{
        outline: none;
        border: 2px solid rgb(228, 140, 155);
    }
}

/* HEADER AND SIDEBAR */

header{
    padding: 0 2vw 0 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: hsla(351, 100%, 92%, 0.85);
    border-bottom: 2px solid rgb(255, 160, 176);
    height: 5vw;
    top: 0;
    left: 0;
    width: 100vw;
    animation-name: appear-navbar;
    animation-duration: 1500ms;
    z-index: 1;
}
@keyframes appear-navbar{
    from{ top: -20vw; }
    to{ top: 0 }
}

.toggleable-sidebar{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100vh;
    background-color: hsl(351, 100%, 92%);
    border-right: 2px solid rgb(255, 160, 176);
    animation-name: sidebarAppear;
    animation-duration: 500ms;

    & li{
        cursor: pointer;
        padding: 0.5vw 1.5vw;
        text-decoration: none;
        transition: 200ms;
        user-select: none;

        &:hover{
            background-color: rgb(255, 160, 176);
        }
        &:active{
            background-color: rgb(228, 140, 155);
        }
    }
}

@keyframes sidebarAppear{
    from{ left: -10vw; }
    to{ left: 0; }
}
.sidebar-disappear{
    animation-name: sidebarDisappear;
}
@keyframes sidebarDisappear{
    from{ left: 0; }
    to{ left: -10vw; }
}

@keyframes logout-window-background-appear{
    from{ opacity: 0; }
    to{ opacity: 1; }
}
.logout-window-background-disappear{
    animation-name: logout-window-background-disappear;
}
@keyframes logout-window-background-disappear{
    from{ opacity: 1; }
    to{ opacity: 0; }
}

@keyframes logout-window-appear{
    0%{ margin-top: 35vw; }
    60%{ margin-top: -1vw; }
    100%{ margin-top: 0; }
}
.logout-window-disappear{
    animation-name: logout-window-disappear;
}
@keyframes logout-window-disappear{
    from{ margin-top: 0; }
    to{ margin-top: 35vw; }
}

/* SIGNIN PAGE EXCLUSIVE STYLES */

@keyframes signin-page-description-fall{
    from{ top: 200%; }
    to{ top: 50%; }
}

.right-form-appear-animation{ animation-name: right-form-appear; }
@keyframes right-form-appear{
    from{ margin-right: -50vw; }
    to{ margin-right: 0; }
}
.right-form-disappear-animation{ animation-name: right-form-disappear; }
@keyframes right-form-disappear{
    from{ margin-right: 0; }
    to{ margin-right: -50vw; }
}

.left-form-appear-animation{ animation-name: left-form-appear; }
@keyframes left-form-appear{
    from{ margin-left: -50vw; }
    to{ margin-left: 0; }
}
.left-form-disappear-animation{ animation-name: left-form-disappear; }
@keyframes left-form-disappear{
    from{ margin-left: 0; }
    to{ margin-left: -50vw; }
}

.login_signup_container{
    position: relative;
    height: 100vh;
    padding: 0 1.5vw;
    background-color: hsla(351, 100%, 92%, 0.85);
    width: 25vw;
    border-color: rgb(255,160,176);
    border-style: solid;
}

/* ERROR AND SUCCESS MESSAGES */

.error-message,
.success-message{
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 1vw;
    bottom: 1vw;
    margin: 1vw;
    text-wrap: pretty;
    padding: 0 1.5vw;
    animation-duration: 500ms;
    border-radius: 5px;
    box-shadow: 0.5px 2px 5px gray;
}
.error-message{
    border: 2px solid rgb(255, 160, 176);
    background-color: hsl(351, 100%, 92%);
    color: red;
}
.success-message{
    border: 2px solid rgb(1, 94, 1);
    background-color: rgb(183, 245, 183);
    color: green;
}

.left-message{ left: 1vw; }
.right-message{ right: 1vw; }

.message-appear{ animation-name: message-appear; }
@keyframes message-appear{
    from{ bottom: -5vw; }
    to{ bottom: 1vw; }
}

.message-disappear{ animation-name: message-disappear; }
@keyframes message-disappear{
    from{ bottom: 1vw; }
    to{ bottom: -5vw; }
}