@import "tailwindcss";

body{
    margin: 0;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* GLOBAL CLASSES */

.basic-text-size{ font-size: 1.15vw; }
.click-disabled{ pointer-events: none; }
.hide-element{ display: none; }
.show-element-flex{ display: flex; }
.show-element-block{ display: block; }

.page-title{
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgb(255, 160, 176);
    padding: 2.5px 10px;
    margin-top: 3vw;
    font-weight: bold;
    background-color: rgba(255, 214, 220, 0.9);
}
.page-title-h1{
    animation-duration: 600ms;
    transform: translateX(-50%);
    animation-name: h1-title-anim;
}
@keyframes h1-title-anim{
    from{ margin-top: -30vw; }
    to{ margin-top: 3vw; }
}

.page-title-h2{
    animation-duration: 1000ms;
    animation-name: h2-title-anim;
}
@keyframes h2-title-anim{
    from{ margin-top: -30vw; }
    to{ margin-top: 3vw; }
}

.common-btn,
.form-btn{
    background-color: white;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 5px;
    border: 2px solid rgb(255, 160, 176);
    transition: 200ms;

    &:hover{ background-color: rgb(255, 214, 220); }
    &:active{ background-color: rgb(228,140,155); }
}

.text-input{
    background-color: white;
    cursor: pointer;
    padding: 3px 30px 3px 10px;
    border: 2px solid rgb(255, 160, 176);
    border-radius: 5px;
    transition: 200ms;

    &:hover{ background-color: rgb(253, 239, 239); }
    &:focus{
        outline: none;
        border: 2px solid rgb(228, 140, 155);
    }
}

.popup-window-background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    animation-duration: 500ms;
    animation-name: popup-window-background-appear;
}
@keyframes popup-window-background-appear{
    from{ opacity: 0; }
    to{ opacity: 1; }
}

.popup-window{
    background-color: rgb(255, 214, 220);
    position: fixed;
    z-index: 11;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-duration: 500ms;
    animation-name: popup-window-appear;
    flex-direction: column;
    align-items: center;
    padding: 1.2vw 1.5vw;
    gap: 1vw;
    border-radius: 5px;
    border: 3px solid rgb(255, 160, 176);
    box-shadow: 0.5px 2px 5px rgb(70, 70, 70);
}   
@keyframes popup-window-appear{
    0%{ margin-top: 35vw; }
    60%{ margin-top: -1vw; }
    100%{ margin-top: 0; }
}

.displayed-tag{
    background-color: white;
    padding: 0.3vw 0.5vw;
    border-radius: 5px;
    border: 2px solid rgb(255, 160, 176);
    box-shadow: 0.5px 0.5px 3px gray;
}

/* GLOBAL ANIMATIONS */

.container-appear-animation{
    animation-name: container-appear-animation;
    animation-duration: 700ms;
}
@keyframes container-appear-animation{
    from{ transform: translateY(-100vh); }
    to{ transform: translateY(0); }
}

.hide-popup-background-anim{ animation-name: hide-popup-background-anim; }
@keyframes hide-popup-background-anim{
    from{ opacity: 1; }
    to{ opacity: 0; }
}

.hide-popup-anim{ animation-name: hide-popup-anim; }
@keyframes hide-popup-anim{
    from{ margin-top: 0; }
    to{ margin-top: 35vw; }
}

/* HEADER AND SIDEBAR */

@keyframes appear-navbar{
    from{ top: -20vw; }
    to{ top: 0 }
}
.toggleable-sidebar{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100vh;
    background-color: rgb(255, 214, 220);
    border-right: 2px solid rgb(255, 160, 176);
    animation-name: sidebarAppear;
    animation-duration: 500ms;

    & li{
        cursor: pointer;
        padding: 0.5vw 1.5vw;
        text-decoration: none;
        transition: 200ms;

        &:hover{ background-color: rgb(255, 160, 176); }
        &:active{ background-color: rgb(228, 140, 155); }
    }
}

@keyframes sidebarAppear{
    from{ left: -8vw; }
    to{ left: 0; }
}
.sidebar-disappear{ animation-name: sidebarDisappear; }
@keyframes sidebarDisappear{
    from{ left: 0; }
    to{ left: -8vw; }
}

/* SIGNIN PAGE EXCLUSIVE STYLES */

@keyframes signin-page-description-rise{
    0% { top: 200%; }
    60% { top: 45%; }
    100%{ top: 50%; }
}

.right-form-appear-animation{ animation-name: right-form-appear; }
@keyframes right-form-appear{
    from{ margin-right: -50vw; }
    to{ margin-right: 0; }
}
.right-form-disappear-animation{ animation-name: right-form-disappear; }
@keyframes right-form-disappear{
    from{ margin-right: 0; }
    to{ margin-right: -50vw; }
}

.left-form-appear-animation{ animation-name: left-form-appear; }
@keyframes left-form-appear{
    from{ margin-left: -50vw; }
    to{ margin-left: 0; }
}
.left-form-disappear-animation{ animation-name: left-form-disappear; }
@keyframes left-form-disappear{
    from{ margin-left: 0; }
    to{ margin-left: -50vw; }
}

.login_signup_container{
    position: relative;
    height: 100vh;
    padding: 0 1.5vw;
    background-color: rgba(255, 214, 220, 0.85);
    width: 25vw;
    border-color: rgb(255,160,176);
    border-style: solid;
}

/* ERROR AND SUCCESS MESSAGES */

.error-message,
.success-message{
    position: fixed;
    text-align: center;
    width: 100%;
    max-width: 25vw;
    bottom: 1.75vw;
    z-index: 11;
    text-wrap: pretty;
    padding: 0 1.5vw;
    animation-duration: 500ms;
    border-radius: 5px;
    box-shadow: 0.5px 2px 5px gray;
}
.error-message{
    border: 2px solid rgb(255, 160, 176);
    background-color: rgb(255, 214, 220);
    color: red;
}
.success-message{
    border: 2px solid rgb(1, 94, 1);
    background-color: rgb(183, 245, 183);
    color: green;
}

.left-message{ left: 1vw; }
.right-message{ right: 1vw; }
.center-message{
    left: 50%;
    transform: translateX(-50%);
}

.message-appear{ animation-name: message-appear; }
@keyframes message-appear{
    from{ bottom: -5vw; }
    to{ bottom: 1.75vw; }
}

.message-disappear{ animation-name: message-disappear; }
@keyframes message-disappear{
    from{ bottom: 1.75vw; }
    to{ bottom: -5vw; }
}

/* List */
.blog-list-ul{
    & li{
        width: 70vw;
        padding: 4px 10px;
        border-radius: 10px;
        background-color: rgba(255, 214, 220, 0.9);
        border: 2px solid rgb(255, 160, 176);

    & h3{
        font-size: 1.5vw;
    }

    & .blog-list-item-top-row{
        display: flex;
        justify-content: space-between;
    }

    & .description{
        color: rgb(228, 140, 155);
        max-width: 60vw;
    }
    }
}


