@import "tailwindcss";

.basic-text-size{
    font-size: 1.15vw;
}
.click-disabled{
    pointer-events: none;
}

@keyframes title-fall{
    from{ margin-top: -30vw; }
    to{ margin-top: 2vw; }
}

.right-form-appear-animation{
    animation-name: right-form-appear;
}
@keyframes right-form-appear{
    from{ margin-right: -50vw; }
    to{ margin-right: 0; }
}
.right-form-disappear-animation{
    animation-name: right-form-disappear;
}
@keyframes right-form-disappear{
    from{ margin-right: 0; }
    to{ margin-right: -50vw; }
}

.left-form-appear-animation{
    animation-name: left-form-appear;
}
@keyframes left-form-appear{
    from{ margin-left: -50vw; }
    to{ margin-left: 0; }
}
.left-form-disappear-animation{
    animation-name: left-form-disappear;
}
@keyframes left-form-disappear{
    from{ margin-left: 0; }
    to{ margin-left: -50vw; }
}

.text-input{
    background-color: white;
    cursor: pointer;
    padding: 3px 30px 3px 10px;
    border: 2px solid rgb(255, 160, 176);
    border-radius: 5px;
    transition: 200ms;

    &:hover{ 
        background-color: rgb(253, 239, 239); 
    }
    &:focus{
        outline: none;
        border: 2px solid rgb(228, 140, 155);
    }
}

.login_signup_container{
    position: relative;
    height: 100vh;
    padding: 0 1.5vw;
    background-color: hsla(351, 100%, 92%, 0.85);
    width: 25vw;
    border-color: rgb(255,160,176);
    border-style: solid;

    & .form-btn{
        background-color: white;
        cursor: pointer;
        width: 40%;
        padding: 3px 0;
        border-radius: 5px;
        border: 2px solid rgb(255, 160, 176);
        transition: 200ms;
        margin-left: 50%;
        transform: translateX(-50%);

        &:hover{
            background-color: hsla(351, 100%, 92%);
        }
    }
}

/* ERROR AND SUCCESS MESSAGES */

.error-message,
.success-message{
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 1vw;
    bottom: 2vw;
    text-wrap: pretty;
    padding: 0 1.5vw;
    animation-duration: 500ms;
    border-radius: 5px;
}
.error-message{
    border: 2px solid rgb(255, 160, 176);
    background-color: hsl(351, 100%, 92%);
    color: red;
}
.success-message{
    border: 2px solid rgb(1, 94, 1);
    background-color: rgb(183, 245, 183);
    color: green;
}

.message-appear{
    animation-name: message-appear;
}
@keyframes message-appear{
    from{ bottom: -5vw; }
    to{ bottom: 2vw; }
}

.message-disappear{
    animation-name: message-disappear;
}
@keyframes message-disappear{
    from{ bottom: 2vw; }
    to{ bottom: -5vw; }
}