<header>
    <span id="menu-activate-btn" class="material-symbols-outlined select-none 
        cursor-pointer p-[1vw] rounded-[50%] duration-200 hover:bg-[rgb(255,160,176)] active:bg-[rgb(228,140,155)]"
    >
        menu
    </span>
    <a href="./main_page.html" class="text-[140%] ml-[1vw] cursor-pointer">
        FLOWER-BLOG
    </a>
</header>

<div id="toggleable-sidebar" class="toggleable-sidebar hide-element">
    <div class="h-[5vw] flex items-center">
        <span id="menu-deactivate-btn" class="material-symbols-outlined select-none 
            cursor-pointer p-[1vw] rounded-[50%] duration-200 hover:bg-[rgb(255,160,176)] active:bg-[rgb(228,140,155)]"
        >
            menu
        </span>
    </div>
    <ul class="p-0">
        <li><a href="./main_page.html">Home</a></li>
        <li><a href="">Profile</a></li>
        <li id="logout-list-btn">Logout</li>
    </ul>
</div>
<div id="logout-window-background" class="fixed top-0 left-0 z-10 w-screen h-screen 
    hide-element bg-[rgba(0,0,0,0.5)] [animation-duration:500ms] [animation-name:logout-window-background-appear]"
>
    <div id="toggleable-logout-window" class="bg-[hsl(351,100%,92%)] fixed z-11 left-[50%] -translate-x-1/2 
        top-[50%] -translate-y-1/2 [animation-duration:500ms] [animation-name:logout-window-appear] flex flex-col 
        items-center py-[1.2vw] px-[1.5vw] gap-[1vw] border-[rgb(255,160,176)] rounded-[5px] border-3 shadow-[0.5px_2px_5px_rgb(70,70,70)]"
    >
        <p class="text-[1.5vw]">Are you sure?</p>
        <div class="flex justify-center gap-[1vw]">
            <form action="../backend/Session_Maintanance/logout.php">
                <input type="submit" value="Yes" class="form-btn px-[1vw]">
            </form>
            <button id="logout-deny-btn" class="common-btn px-[1vw]">No</button>
        </div>
    </div>
</div>
