<header class="flex justify-between items-center fixed w-screen  
    z-1 left-0 top-0 h-[5vw] pr-[2vw] pl-[1vw] border-b-2
    border-b-[rgb(255,160,176)] bg-[rgba(255,214,220,0.85)]
    [animation-duration:500ms] [animation-name:appear-navbar] "
>
    <span id="show-sidebar-btn" title="Show Sidebar" 
        class="material-symbols-outlined select-none cursor-pointer 
        p-[1vw] rounded-[50%] duration-200 
        hover:bg-[rgb(255,160,176)] active:bg-[rgb(228,140,155)]"
    >
        menu
    </span>
    <a href="./main_page.html" title="Go to home page" class="cursor-pointer text-[2vw] ml-[1vw]">
        FLOWER-BLOG
    </a>
</header>

<!-- SIDEBAR -->

<div id="toggleable-sidebar" 
    class="toggleable-sidebar hide-element fixed items-center w-auto h-screen flex-col 
    z-2 left-0 top-0 border-r-2
    bg-[rgb(255,214,220)] border-r-[rgb(255,160,176)] 
    [animation-duration:500ms] [animation-name:sidebarAppear]"
>
    <div class=" flex items-center h-[5vw]">
        <span id="hide-sidebar-btn" title="Hide Sidebar" 
            class="material-symbols-outlined select-none cursor-pointer
            p-[1vw] rounded-[50%] duration-200 
            hover:bg-[rgb(255,160,176)] active:bg-[rgb(228,140,155)]"
        >
            menu
        </span>
    </div>
    <ul class="basic-text-size p-0">
        <li><a href="./main_page.html" title="Go to Home page">Home</a></li>
        <li><a href="./create.html" title="Go to the Creation page">Create</a></li>
        <li><a href="./profile.html" title="Go to Profile page">Profile</a></li>
        <li title="Log out?"><a id="show-logout-popup-btn">Logout</a></li>
    </ul>
</div>

<!-- LOGOUT POPUP -->

<div id="logout-popup-background" class="popup-window-background hide-element"></div>

<div id="logout-popup" class="popup-window hide-element">
    <p class="text-[1.5vw]">Are you sure?</p>
    <div class="basic-text-size flex justify-center gap-[1vw]">
        <form action="../backend/Session_Maintanance/logout.php">
            <input type="submit" value="Yes" title="Yes, log out." class="form-btn px-[1vw]">
        </form>
        <button id="hide-logout-popup-btn" title="No, stay." class="common-btn px-[1vw]">No</button>
    </div>
</div>